/* Widget - Section Title */
.laid-back-section-title-wrapper .laid-back-section-title {
    font-size: 47px;
    line-height: 54px;
    font-weight: 400;
}
.laid-back-section-title-wrapper .laid-back-section-title-subtitle {
    font-size: 15px;
    line-height: 20px;
    max-width: 850px;
    margin: auto;
    margin-bottom: 30px;
}
/* align - right */
.laid-back-section-title-wrapper.laid-back-section-title-wrapper-align-right {
    text-align: right;
}
/* align - center */
.laid-back-section-title-wrapper.laid-back-section-title-wrapper-align-center {
    text-align: center;
}
/* white */
.laid-back-section-title-wrapper.laid-back-section-title-wrapper-white,
.laid-back-section-title-wrapper.laid-back-section-title-wrapper-white .laid-back-section-title {
    color: #fff;
}
/* Widget - Service Icon */
.laid-back-service-icon-wrapper {
    display: flex;
}
.laid-back-service-icon-wrapper .laid-back-service-icon-image {
    max-width: 70px;
    margin-right: 20px;
}
.laid-back-service-icon-wrapper .laid-back-service-icon-title {
    color: #000;
    font-size: 26px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: 400;
}
.laid-back-service-icon-wrapper .laid-back-service-icon-subtitle {
    color: #000;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
}
/* Widget - Partner Box */
.laid-back-partner-box-wrapper {
    text-align: center;
}
.laid-back-partner-box-wrapper .laid-back-partner-box-name {
    font-size: 23px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}
.laid-back-partner-box-wrapper .laid-back-partner-box-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.laid-back-partner-box-wrapper .laid-back-partner-box-description {
    font-size: 14px;
    line-height: 18px;
}
/* Widget - Social Icons */
.laid-back-social-icons-wrapper {
    display: flex;
}
.laid-back-social-icons-wrapper .social-item {
    margin-right: 10px;
}
.laid-back-social-icons-wrapper .social-item:last-child {
    margin-right: 0;
}
.laid-back-social-icons-wrapper .social-item a {
    font-size: 26px;
    line-height: 26px;
    color: #000;
}
.laid-back-social-icons-wrapper .social-item a:hover {
    color: #FFA75D;
}
/* align - right */
.laid-back-social-icons-wrapper.laid-back-social-icons-wrapper-align-right {
    justify-content: flex-end;
}
/* align - center */
.laid-back-social-icons-wrapper.laid-back-social-icons-wrapper-align-center {
    justify-content: center;
}
/* white */
.laid-back-social-icons-wrapper.laid-back-social-icons-wrapper-white .social-item a {
    color: white;
}
.laid-back-social-icons-wrapper.laid-back-social-icons-wrapper-white .social-item a:hover {
    color: #e8e8e8;
}
/* SIZING */
@media (max-width: 767px) {
    /* Widget - Section Title */
    .laid-back-section-title-wrapper {
        text-align: center !important;
    }
}
